.top, #root {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100vh;
}

#content-field {
  height: inherit;
}

#main-content-field {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

#side-menu-field {
  padding-right: 0;
}

.mgr-tbl {
  margin-left: 12px;
  margin-right: 12px;
  width: auto !important;
}