.section-label {
    display: inline-block;
    margin-top: 12px;
    margin-left: 6px;
    border-left: solid 5px #2c3034;
    border-bottom: solid 1px #2c3034;
    padding-left: 1px;
    padding-right: 3px;
}