.modal_wrap input {
    display: none;
}

.modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}

.modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_content {
    align-self: center;
    width: 60%;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transition: 0.5s;
}

.modal_content p {
    padding-top: 0;
}

.close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content {
    transform: translateY(20px);
}

.open_button {
    color: #4f96f6;
    background-color: #eeeeee;
    font-weight: bold;
    text-align: center;
    cursor :pointer;
    transition: all 0.3s;
    display: block;
    margin-top: 40px;
    margin-bottom: 1px;
    padding: 12px 2px;
    max-width:300px;
    text-decoration: none;
}

.open-button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*下に動く*/

}

/*アイコンを表示*/
.open-button:after {
    font-family: "Font Awesome 5 Free";
    content: "\f2d0";
    padding-left: 8px;
}

/*ラベルホバー時*/
.open-button:hover {
    color: #FFFFFF;
    background-color: #4f96f6;
    transition: .6s;
}

.modal_title2 {
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    margin-top:0;
    margin-bottom: 0;
}

.modal_title2::before,
.modal_title2::after{
    content: "";
    position: absolute;
    bottom: 0;
}

/* h2 プライマリカラー*/
.modal_title2:before{
    border-bottom: 4px solid #6bb6ff;
    width: 100%;
}
/* h2 セカンダリカラー*/
.modal_title2:after{
    border-bottom: 4px solid #c8e4ff;
    width: 100%;
}